<span class="streak-badge"
      aria-label="<%= tooltip %>"
      data-controller="tooltip"
      data-tooltip-message-value="<%= tooltip %>"
      data-tooltip-position-value="top">
  <span class="streak-badge__icon" aria-hidden="true"></span>
</span>
