<% if @commands.any? %>
  <p class="command-palette__section-label">Commands</p>
  <ul class="command-palette__list" role="listbox">
    <% @commands.each_with_index do |cmd, i| %>
      <li class="command-palette__item"
          role="option"
          id="cp-item-<%= i %>"
          data-command-palette-target="item"
          data-action="click->command-palette#select mouseenter->command-palette#highlight"
          data-path="<%= cmd.path %>"
          <% if cmd.post? %> data-method="post"<% end %>>
        <% if cmd.icon %>
          <span class="command-palette__item-icon" aria-hidden="true">
            <%= inline_svg_tag "icons/#{cmd.icon}.svg", class: "command-palette__icon" %>
          </span>
        <% end %>
        <span class="command-palette__item-title"><%= cmd.title %></span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="command-palette__empty">No commands found</p>
<% end %>
